<div>
    <div class="btn-group float-right">
      <button class="btn btn-warning" (click)="prev()">
        <span class="fa fa-caret-left"></span>
        <span  jhiTranslate="timesheetApp.timesheet.home.previousLabel">
          Previous Week
        </span>
      </button>
      <button class="btn btn-primary" [routerLink]="['/', { outlets: { popup: ['timesheet-new'] } }]">
        <span class="fa fa-plus"></span>
        <span  jhiTranslate="timesheetApp.timesheet.home.currentLabel">
          This Week
        </span>
      </button>
      <button class="btn btn-success" (click)="next()">
        <span class="fa fa-caret-right"></span>
        <span  jhiTranslate="timesheetApp.timesheet.home.nextLabel">
          Next Week
        </span>
      </button>
    </div>
    <h2>
        <span jhiTranslate="timesheetApp.timesheet.home.title">Timesheets</span> {{ timesheet.year }} - {{ timesheet.week }}
        <small>{{ timesheet.getDate(timesheet.week, timesheet.year) }}</small>
    </h2>
    <jhi-alert></jhi-alert>
    <hr/>
    <div class="timesheet-detail">
      <div class="row text-center">
        <div class="col" *ngFor="let i of dow; let j=index;">
          <h4 jhiTranslate="timesheetApp.timesheet.{{i}}">{{ i }}</h4>
          <small>{{ date(j) }}</small>
          <hr/>

          <hr/>
          <button class="btn btn-default" (click)="addEntry()">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="timesheetApp.entry.home.createLabel">
            Create new Entry
            </span>
          </button>
        </div>

      </div>
    </div>
</div>
