<div>
    <div class="btn-group float-right">
      <button class="btn btn-warning" (click)="prev()">
        <span class="fa fa-caret-left"></span>
        <span  jhiTranslate="timesheetApp.timesheet.home.previousLabel">
          Previous Week
        </span>
      </button>
      <button class="btn btn-primary" (click)="cur()">
        <span class="fa fa-calendar"></span>
        <span  jhiTranslate="timesheetApp.timesheet.home.currentLabel">
          This Week
        </span>
      </button>
      <button class="btn btn-success" (click)="next()">
        <span class="fa fa-caret-right"></span>
        <span  jhiTranslate="timesheetApp.timesheet.home.nextLabel">
          Next Week
        </span>
      </button>
    </div>
    <h2>
        <span jhiTranslate="timesheetApp.timesheet.home.title">Timesheets</span> {{ timesheet.year }} week {{ timesheet.week }}
    </h2>
    <h5>from {{ date(0) }} to {{ date(6) }}</h5>
    <jhi-alert></jhi-alert>
    <hr/>

    <div class="timesheet-detail card-block">
      <div class="row text-center">
        <div class="col" *ngFor="let i of timesheet.dow; let j=index;">
          <h4 jhiTranslate="timesheetApp.timesheet.{{i}}">{{ i }}</h4>
          <small>{{ date(j) }}</small>
          <hr/>
          <div class="list-group">
            <button class="list-group-item list-group-item-action list-group-item-info justify-content-between" [disabled]="checkDate(date(j))" (click)="addEntry(date(j))">
              <span  jhiTranslate="timesheetApp.entry.home.newLabel"> New Entry </span>
              <span class="badge badge-primary badge-pill pull-right"><i class="fa fa-plus"></i></span>
            </button>
            <button *ngFor="let e of entries[date(j)]" (click)="editEntry(e)" class="list-group-item list-group-item-action  justify-content-between" ngbTooltip="{{ e.notes }}">
              {{ e.category }}
              <span class="badge badge-success badge-pill"><i class="fa fa-clock-o"></i> {{ e.hour }}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col" *ngFor="let i of timesheet.dow; let j=index;">
          <p *ngIf="entries[date(j)]">{{ dateSummary(date(j)) | json }}</p>
        </div>
      </div>
    </div>

    <div class="timesheet-summary">
      <div class="row"> <div class="col-md-6">
        <div class="card">
          <div class="card-block">
              <h3 class="card-title">Timesheet Entries Details</h3>
              <div class="list-group">
                <div *ngFor="let e of entry.entities" class="list-group-item flex-column">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ e.category }}</h5>
                    <h6><span class="badge badge-info badge-pill"><i class="fa fa-clock-o"></i> {{ e.hour }}</span></h6>
                  </div>
                  <p class="mb-1">{{ e.notes }}</p>
                </div>
                <div class="list-group-item flex-column active">
                  <h5 class="mb-1">Total: {{ totalHours }} hours</h5>
                </div>
              </div>
          </div>
        </div>
      </div> <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Additional Info</h3>
            <blockquote class="list-group-item" *ngFor="let f of timesheet.feedback"><strong>{{f.email}}</strong>: {{ f.comment }}</blockquote>
            <p class="card-text">Write your summary and press Submit</p>
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
              <div class="form-group"  *ngIf="timesheet.status === null">
                  <textarea class="form-control" name="summary" id="field_summary" cols="80" rows="10"
                      [(ngModel)]="timesheet.summary"  ></textarea>
              </div>
              <div class="form-group" *ngIf="feedback.entity && (timesheet.status !== null)">
                  <textarea class="form-control" name="comment" id="field_comment" cols="80" rows="10"
                      [(ngModel)]="feedback.entity.comment"  ></textarea>
              </div>
              <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary pull-right">
                  <span class="fa fa-send"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
