<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTimesheetLabel" jhiTranslate="timesheetApp.timesheet.home.createOrEditLabel">Create or edit a Timesheet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!timesheet.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="timesheet.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.user" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                [(ngModel)]="timesheet.user"
            required />
            <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.week" for="field_week">Week</label>
            <input type="number" class="form-control" name="week" id="field_week"
                [(ngModel)]="timesheet.week"
            required min="0" max="53" />
            <div [hidden]="!(editForm.controls.week?.dirty && editForm.controls.week?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.week?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.week?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.week?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 53 }">
                    This field cannot be more than 53.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.week?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                [(ngModel)]="timesheet.year"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.submitAt" for="field_submitAt">Submit At</label>
            <div class="d-flex">
                <input id="field_submitAt" type="datetime-local" class="form-control" name="submitAt" [(ngModel)]="timesheet.submitAt"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="timesheet.updatedAt"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="timesheet.updatedBy"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.summary" for="field_summary">Summary</label>
            <textarea class="form-control" name="summary" id="field_summary"
                [(ngModel)]="timesheet.summary"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.totalHours" for="field_totalHours">Total Hours</label>
            <input type="number" class="form-control" name="totalHours" id="field_totalHours"
                [(ngModel)]="timesheet.totalHours"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
